/src/MassiveUpdatesAggregator/.vs
/src/MassiveUpdatesAggregator/MassiveUpdatesAggregator/obj
/src/MassiveUpdatesAggregator/MassiveUpdatesAggregator/bin
/src/MassiveUpdatesAggregator/MassiveUpdatesAggregator.Tests/obj
/src/MassiveUpdatesAggregator/MassiveUpdatesAggregator.Tests/bin
